# STS/Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.factorypath
.buildpath
.prefs
.metadata

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# VSCode
.vscode/

# Vert.x
.vertx/

# Compiled Output
target/
tmp/
out-tsc/
bin/*
!bin/www.js

# System Files
.DS_Store
Thumbs.db

# Generated/OL specific
*.css.map
openlegacy-core-parent/openlegacy-impl/trail/**
*.zip
libs/
*.mv.db
**/package-lock.json

# Git Flow
gitflow/

# Maven
.flattened-pom.xml
dependency-reduced-pom.xml

# Gradle
.gradle
**/out/
**/build/
# Kotlin Gradle plugin
.kotlin/

# Python
venv/
__pycache__

# misc
typings/
*.log
.java-version
**/mqjms.log.**
**/orb.db/

**/generated_tests/
**/tests_trail_save/
# narayana
**/PutObjectStoreDirHere/
**/ObjectStore/

# proprietary tn5250j & h3270
**/tn5250j*/lib
**/h3270*/lib
**/terminal-emulation*/lib
# proprietary SAP JCo and IDoc libraries
**/sap-idoc-rpc*/lib
**/sap-rpc*/lib
**/sap-idoc-rpc-autoconfiguration/lib
**/sap-rpc-autoconfiguration/lib
**/flow-spring-sap-server-autoconfiguration/lib
**/flow-spring-sap-idoc-server-autoconfiguration/lib/

# AI
.cursor
